* {
	box-sizing: border-box;
}

.clearfix::after {
	content:""; 
	display:block;
	clear:both;
	visibility: hidden;
	height:0px;
}

html {
	margin:0px;
	padding:0px;
	min-height: 100%;
	position:relative;
}

body {
	margin:0px 0px 75px 0px;
	color: #777777;
	background: url("../images/ricepaper2.png") repeat fixed center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;

}

h1, 
h2, 
h3, 
h4 {
	color:#4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: bold;
	margin: 20px 0px;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size:1.2em;
}

p {
	margin:10px 0px;
}


/*** NAVIGATION ***/
nav {
	background-color: #fff;
	border-bottom: 2px solid #dddddd;
	margin-bottom: 30px;
	height: 70px;
	width: 100%;
}

nav ul {
	padding:20px 0px;
}

nav li {
	display: inline;
	list-style: none;
	padding: 10px 10px;
}

nav li a {
	text-decoration: none;
	color:inherit;
}

nav li a:hover {
	color:#4aaaa5;
}

.logo {
	float:left;
	height:68px;
	background-color: #4aaaa5;
}

.logo h1 {
	color:#fff;
	padding:0px 20px;

}

.nav-list {
	float:right;
}

/*** MAIN CONTENT ***/

section {
	background-color: #ffffff;
}

.container {
	width:100%;
	padding: 0px 150px;
}

.row {
	margin:0px -15px;
}

.main-column {
	width:70%;
	float: left;
	margin-bottom: 20px;
}

.side-column {
	width:30%;
	float:left;
}

.content-container {
	margin: 0px 15px;
	padding:20px;
	border:1px solid #dddddd;
}

hr {
	color: #dddddd;
	opacity: .5;
	margin-bottom: 10px 0px;
}


/*** SIDEBAR ***/

.icon-row {
	margin:0px -10px;
}

.icon-column {
	width:33%;
	float:left;
	padding:0px 10px;
}

.icon {
	width:100%;
}

/*** FOOTER ***/

footer {
	background-color: #777777;
	border-top: 5px solid #4aaaa5;
	margin-top: 30px;
	color: #dddddd;
	width:100%;
	height:75px;
	line-height: 75px;
	font-size: 12px;
	text-align: center;
	position:absolute;
	left:0px;
	bottom:0px;
}

/*** ABOUT ME PAGE***/

.profile-img {
	width:150px;
	float:left;
	margin: 0px 10px 10px 0px;
}

.text {
	margin:-10px 0px;
}


/***CONTACT PAGE ***/

input[type="submit"] {
	color: #ffffff;
	background-color: #4aaaa5;
	padding:5px 10px;
	border:none;
}

input[type="submit"]:hover {
	background-color: #777;
	cursor: pointer;
}

input[type="text"]{
	color:#777;
	opacity: .9;
	font-size: .9em;
	padding:4px;
	border: 1px solid #cccccc;
}

textarea {
	color:#777;
	opacity: .9;
	font-size: .9em;
	padding:4px;
	font-family: inherit;
	border: 1px solid #cccccc;
}

/*** PORTFOLIO PAGE ***/
.portfolio-row {
	margin: 0px -15px;
}

.portfolio-column {
	padding: 10px 15px;
	width: 50%;
	float:left;
	position: relative;

}

.portfolio-column img {
	width:100%;
}

.project-title {
	max-height: 50px;
	background-color: #4aaaa5;
	text-align: center;
	position: absolute;
	top:75%;
	margin:0px 15px;
	left:0px;
	right:0px;
}

.project-title h3 {
	color: white;
	font-size: 1.4em;
}